<?xml version="1.0"?>
<launch>
    <node pkg="tesla" type="obstacle_watch.py" name="obstacle_watch"/>
    <node pkg="tesla" type="listener" name="Subscriber"/>
    <node pkg="tesla" type="talker" name="Publisher"  output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find tesla)/rviz/costmap_test.rviz"/>
</launch>
    